.form {
    input[type="text"], input[type="email"], input[type="date"] {
        position: relative;
        outline: none;
        outline-style:none;
        border: 0;
        margin-top: 1px;
        border-radius: 0;
        box-shadow: 0 1px 0 0 #772220;
        background-color: transparent;
    
        &:focus {
            outline: none;
            outline-style:none;
            box-shadow: 0 1px 0 0 red;
        }
    }
	 label {
        color: #772220;
		font-size:0.75em;
        background-color: transparent;
    
      
    }
	.text-danger{
		font-size:0.55em;
	}
}