// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'forms';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
	font-family: 'RIDER';
	src: url('/fonts/rider.ttf');
	font-weight: normal;
	font-style: normal;
	} 

            html, body {
                height: auto;
                //margin: 5px;
				background-color:black;
				line-height: 1.4em;
            }
			html{

			}
			body{
				color:white;
			}
			
			a{color:#f7a62d;}
			a:hover{color: #ffb63d;
				text-decoration: none;}
			
			.right {
                float:right;
				
            }
			.vCenter{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
			
			.big-text {
                font-size: 3.4vw;
				font-family:Arial Narrow;
				font-weight:900;
				line-height: 1.1em;
				
            }
			.medium-text {
                font-size: 2vw;
				font-family:Arial Narrow;
				font-weight:900;
				line-height: 1.1em;
				padding:5px;
				
            }
			
		
						
			.black-body{
				font-family:Times New Roman;
				position: relative;
				color:white;
				background:url();
				background-color:black;
				border-style:none;
				height:100vh;
				
			}
			.exp-container{
				    position: absolute;
					top: 50%;
					left: 50%;
					height: 30%;
					width: 100%;
					margin: -15% 0 0 -50%;
			}
		
		.small-text{
			font-size:0.56rem;
			background-color:black;
			color:white;
			height:60%;
			padding:3px;
			padding-top:20px;
			padding-bottom:20px;
			margin:auto;
			margin-left:0;
			margin-right:0;
			line-height:0.62rem;
			max-width:20%;
		}	
			
		.resp-text{
			font-size:3.8vw;
		}
		
		.videocontainer {
        background-color: #000000;
        position: relative;
        width: 40vw;
		height: 21vw;
        
        
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 40vw;
        height: 21vw;
    
    }
	.reel-banner {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 56vw;
		position:relative;
		z-index:0;
    }
	.menu{
				background-color: none;
				--height:5vh;
				display: flex;
				align-items: center;
				justify-content: center;
				 position:fixed;
				top:0;
				left:0;
				z-index:2;
				width:100vw
			}
			.menuitem{
				margin-top:10px;
				margin-bottom:10px;
				}

            .menuitem > a {
                color: #fff;
                padding: 10px 25px;
               	height:100%;
			}
			
            .menuitem > a:hover {
                color: #f7a62d;
                padding:  10px 25px;
             
                font-weight: 700;
                letter-spacing: .15rem; 
               
				height:100%;
				text-decoration: none;
            }
			
			.overlay{
				background-color: #000000aa;
			display: flex;
				align-items: center;
				justify-content: center;
				 position:absolute;
				top:0;
				left:0;
				z-index:1;
				width:100vw;
				 height: 57vw;
			}
			.logoMenu {
				
				width:2vw;
				 height: 2vw;
			}
			.barMenu {
				
				width:100vw;
				 height: 100%;
				 position:absolute;
				 background-color:#000000ee;
				 top:0;
				 left:0
			}
			.orange-text{
				color:#f7a62d;
			}
			.foot{
				
				font-size:0.8vw;
			}
			.orange-line{
				border-bottom-width:1px;
				border-bottom-style:solid;
				border-color:#f7a62d;
			}
			.social {
                display: flex;
                flex-direction: row;
    
                a {
                    display: flex;
                    margin: 5px;
                    color: #bbbbbb;
                    text-decoration: none;

                    &:hover {
                        color: #f7a62d;
                    }
                }
            }
			
			.form-control{
				background-color:transparent;
				color:white;
			}
			
			.btn-primary{
				background-color:transparent;
				color: #f7a62d;
				border-color: #f7a62d;
				&:hover {
                        background-color: #f7a62d;
						color: white;
                    }
			}