<template>
    <div class="sf-form mt-5 mb-5">
       

      


		<div class="form-header">
                <div class="content">
                    <h3 class= "orange-text">ESCRÍBENOS</h3>
                </div>
        </div>
		 <div class="form-block" v-if="status == -1">
            <div class="pt-5 pb-5">
                <h3 class="mt-0 mb-0 text-center">CARGANDO</h3>
            </div>
        </div>
		  <div class="form-block" v-if="status == 1">
            <div class="container pt-5 pb-5">
                <div class="text-center">
                    <span>Comentarios enviados</span>
                </div>
            </div>
        </div>
		<div class="container">
			<div class="form-block" v-if="status == 0">
				
				<div class="form-group">
					<label for="nombre" class="control-label">Nombre completo*</label>
					<input id="nombre" type="text" class="form-control" v-model="entry.nombre">
					<p v-for="(error, index) in errors.nombre" v-bind:key="index" class="text-danger">{{ error }}</p>
				</div>


				
				<div class="form-group">
					<label for="telefono" class="control-label">Teléfono celular* </label>
					<input id="telefono" type="text" class="form-control" v-model="entry.telefono"
						onkeypress="return event.charCode >= 48 && event.charCode <= 57">
					<p v-for="(error, index) in errors.telefono" v-bind:key="index" class="text-danger">{{ error }}</p>
				</div>

				<div class="form-group">
					<label for="email" class="control-label">Correo electrónico*</label>
					<input id="email" type="email" class="form-control" v-model="entry.email">
					<p v-for="(error, index) in errors.email" v-bind:key="index" class="text-danger">{{ error }}</p>
				</div>

				<div class="form-group">
					<label for="comentario" class="control-label">Comentarios</label>
					<textarea id="comentario" type="textarea" class="form-control" v-model="entry.comentario"/>
					<p v-for="(error, index) in errors.comentario" v-bind:key="index" class="text-danger">{{ error }}</p>
				</div>

				<div class="text-center mt-5">
					<span class="btn btn-primary" @click="save()">ENVIAR</span><br>
				</div>
			</div>
		</div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    export default Vue.extend({
        props: [],
        data(): {
            entry: Entry,
            errors: any,
            status: number
        } {
            return {
                entry: new Entry(),
                errors: {},
                status: 0
            }
        },
        methods: {
            save() {
                this.status = -1;
                fetch('/api/comment/add', {
                    method: 'POST',
                    body: JSON.stringify(this.entry),
                    headers:{
                        'Content-Type': 'application/json'
                    }
                })
                .then(result => result.json())
                .catch(error => {
                    console.error('Error:', error);
                    this.status = 0;
                })
                .then((jsonData: any) => {
                    if (jsonData.errors) {
                        this.errors = jsonData.errors;
                        this.status = 0;
                    } else {
                        this.status = 1;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    this.status = 0;
                });
            }
        },
        mounted() {
           
        },
        destroyed() {
        }
    })

    class Entry {
        public nombre: string = '';
        public telefono: string = '';
        public email: string = '';
        public comentarios: string= '';
    }
</script>
